In [1]:
import numpy as np
scores = np.array([    [85, 90, 78, 92, 88],   
                       [72, 75, 80, 68, 74], 
                       [95, 88, 92, 96, 90],     
                       [60, 65, 70, 58, 62],  
                       [88, 84, 86, 89, 87] ])     
print(scores)

[[85 90 78 92 88]
 [72 75 80 68 74]
 [95 88 92 96 90]
 [60 65 70 58 62]
 [88 84 86 89 87]]

In [3]:
#Retrieve the scores of Student 3 for all subjects.
print(scores[2])

[95 88 92 96 90]

In [5]:
#Retrieve the scores for Subject 2 (column 2) across all students.
print(scores[:,1])

[90 75 88 65 84]

In [8]:
#Extract the scores of the first 3 students for the first 2 subjects
print(scores[:3,:2])

[[85 90]
 [72 75]
 [95 88]]

In [10]:
#Add 5 bonus marks to all scores. 
scores_bonus=scores+5
print(scores_bonus)

[[ 90  95  83  97  93]
 [ 77  80  85  73  79]
 [100  93  97 101  95]
 [ 65  70  75  63  67]
 [ 93  89  91  94  92]]

In [23]:
#Subtract 10 marks from scores of Subject 4 for all students.
scores[:,3]-=10
print(scores)

[[85 90 78 82 88]
 [72 75 80 58 74]
 [95 88 92 86 90]
 [60 65 70 48 62]
 [88 84 86 79 87]]

In [27]:
#Calculate the percentage scores of each student assuming each subject is out of 100. 
percentage=(scores.sum(axis=1)/500)*100
print(percentage)

[84.6 71.8 90.2 61.  84.8]

In [31]:
#Calculate the average score for each student across all subjects. 
avg=np.average(scores,axis=1)
print(avg)

[84.6 71.8 90.2 61.  84.8]

In [32]:
#Find the total marks scored by each student. 
total_marks=scores.sum(axis=1)
print(total_marks)

[423 359 451 305 424]

In [33]:
#Identify the highest score in the entire array. 
highest=scores.max()
print(highest)

95

In [34]:
#Determine the average score for each subject. 
avg=np.average(scores,axis=0)
print(avg)

[80.  80.4 81.2 70.6 80.2]

In [35]:
#Find the student with the lowest average score.
lowest_avg = np.argmin(avg)
lowest_avg = lowest_avg + 1  
print(lowest_avg)

4